<nav
  *ngIf="totalPages > 1"
  class="flex justify-center items-center space-x-2 mt-6"
>
  <!-- Botón anterior -->
  <button
    (click)="changePage(currentPage - 1)"
    [disabled]="currentPage === 1"
    class="flex items-center justify-center w-9 h-9 rounded-xl transition-all duration-200 bg-gray-100 text-gray-600 hover:bg-gradient-to-r disabled:opacity-40 disabled:hover:bg-gray-100 disabled:hover:text-gray-600 shadow-sm"
  >
    <i class="fa-solid fa-arrow-left"></i>
  </button>

  <!-- Páginas -->
  <button
    *ngFor="let page of pages"
    (click)="changePage(page)"
    [class.bg-gradient-to-r]="page === currentPage"
    [class.from-purple-700]="page === currentPage"
    [class.to-pink-500]="page === currentPage"
    [class.text-white]="page === currentPage"
    class="px-3 py-1 rounded hover:bg-gray-300"
  >
    {{ page }}
  </button>

  <!-- Botón siguiente -->
  <button
    (click)="changePage(currentPage + 1)"
    [disabled]="currentPage === totalPages"
    class="flex items-center justify-center w-9 h-9 rounded-xl transition-all duration-200 bg-gray-100 text-gray-600 hover:bg-gradient-to-r disabled:opacity-40 disabled:hover:bg-gray-100 disabled:hover:text-gray-600 shadow-sm"
  >
    <i class="fa-solid fa-arrow-right"></i>
  </button>
</nav>